// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

article {
  width: 50%;
  float: left;
  padding: 0 3em;
}

aside {
  width: 33%;
  float: left;
}

.tweek {
  border: 1px solid #ccc;
  margin: 2em 0;
  padding: 1em;
}

p {
  padding: 0;
  margin: 0.5em;
}
